Gizeh.Integrations.Banks/Connected Services/IngBankService/appContent1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:ca:std:cdc:tech:xsd:appXmlContent.001.001.01" elementFormDefault="qualified" targetNamespace="urn:ca:std:cdc:tech:xsd:appXmlContent.001.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="Document" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="SendApplication" type="AppContentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppContentType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="GrpHdr" type="GrpHdrType" />
      <xs:element minOccurs="1" maxOccurs="1" name="AppFields" type="AppFieldsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrpHdrType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MsgId" type="MessageIdentification" />
      <xs:element minOccurs="1" maxOccurs="1" name="CreDtTm" type="ISODateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppFieldsType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="AppField" type="AppFieldType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppFieldType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FieldSymbol" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FieldValue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageIdentification">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
</xs:schema>