Gizeh.Integrations.Banks/Connected Services/IngBankService/crds5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:ca:std:cdc:tech:xsd:crds.002.001.01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ca:std:cdc:tech:xsd:crds.002.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="Document" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="CardsList" type="CardsListType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardsListType">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GrpHdrType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardRpt" type="CardRptType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrpHdrType">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text" />
      <xs:element name="CreDtTm" type="ISODateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:complexType name="CardRptType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNo" type="Max16Text" />
      <xs:element minOccurs="0" name="CardId" type="Max20NumericText" />
      <xs:element minOccurs="0" name="CardUser" type="Max35Text" />
      <xs:element minOccurs="0" name="CardNm" type="Max50Text" />
      <xs:element minOccurs="0" name="IBAN" type="IBAN2007Identifier" />
      <xs:element minOccurs="0" name="CardSts" type="Max2Text" />
      <xs:element minOccurs="0" name="CardValTerm" type="ISODate" />
      <xs:element minOccurs="0" name="MthCardCashLmt" type="LimitType" />
      <xs:element minOccurs="0" name="DlyCardCashLmt" type="LimitType" />
      <xs:element minOccurs="0" name="DlyCardPaymentLmt" type="LimitType" />
      <xs:element minOccurs="0" name="MthAvlbCardCashLmt" type="LimitType" />
      <xs:element minOccurs="0" name="DlyAvlbCardCashLmt" type="LimitType" />
      <xs:element minOccurs="0" name="DlyAvlbCardPaymentLmt" type="LimitType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LimitType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="Ccy" type="CurrencyCode" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="CurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max50Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CardStsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="N" />
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="X" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max20NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,20}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>