Gizeh.Integrations.Banks/Connected Services/IngBankService/docc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:ca:std:cdc:tech:xsd:docc.002.001.01" elementFormDefault="qualified" targetNamespace="urn:ca:std:cdc:tech:xsd:docc.002.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="Document" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="DeactivateOrCloseCardResponse" type="DeactivateOrCloseCardResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeactivateOrCloseCardResponseType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MsgId" type="MessageIdentification" />
      <xs:element minOccurs="0" maxOccurs="1" name="CardId" type="CardNoType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Message" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValDt" type="ValDtType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageIdentification">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CardNoType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ValDtType">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Dt" type="ISODate" />
        <xs:element name="DtTm" type="ISODateTime" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
</xs:schema>