Gizeh.Integrations.Banks/Connected Services/IngBankService/mhdr.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:ca:std:ccs:ing:tech:xsd:mhdr.001.001.01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ca:std:ccs:ing:tech:xsd:mhdr.001.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CcsHeader" type="CcsHeaderType" />
  <xs:complexType name="CcsHeaderType">
    <xs:sequence>
      <xs:element name="FinInstID" type="Max35IdToken">
        <xs:annotation>
          <xs:documentation>Identyfikator (nazwa) instytucji finansowej do której wysyłane jest żądanie.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartnerID" type="Max35IdToken">
        <xs:annotation>
          <xs:documentation>Identyfikator (nazwa) klienta wysyłającego żądanie.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassID" type="Max35IdToken">
        <xs:annotation>
          <xs:documentation>Identyfikator (nazwa) przepustki użytej do wysłania żądania.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProdID" type="ProductIdType">
        <xs:annotation>
          <xs:documentation>Identyfikator (nazwa) aplikacji użytej do wysłania żądania.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Version" type="VersionType" />
    <xs:attribute name="Revision" type="VersionType" />
  </xs:complexType>
  <xs:complexType name="ProductIdType">
    <xs:simpleContent>
      <xs:extension base="Max64Token">
        <xs:attribute name="manufacturer" type="Max35IdToken" use="required" />
        <xs:attribute name="ver" type="Max35IdToken" use="required" />
        <xs:attribute name="langVer" type="xs:language" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="Max35IdToken">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max64Token">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VersionType">
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="99" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>