Gizeh.Integrations.Banks/Connected Services/IngBankService/pain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.02" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="Document" />
  <xs:complexType name="AccountIdentification3Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="IBAN" type="IBANIdentifier" />
        <xs:element name="BBAN" type="BBANIdentifier" />
        <xs:element name="UPIC" type="UPICIdentifier" />
        <xs:element name="PrtryAcct" type="SimpleIdentificationInformation2" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR" />
      <xs:enumeration value="PBOX" />
      <xs:enumeration value="HOME" />
      <xs:enumeration value="BIZZ" />
      <xs:enumeration value="MLTO" />
      <xs:enumeration value="DLVY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AmountType2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="InstdAmt" type="CurrencyAndAmount" />
        <xs:element name="EqvtAmt" type="EquivalentAmount" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BBANIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9]{1,30}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BaseOneRate">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="10" />
      <xs:totalDigits value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BatchBookingIndicator">
    <xs:restriction base="xs:boolean" />
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification3">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification5Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="BrnchId" type="BranchData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nm" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="PstlAdr" type="PostalAddress1" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CHIPSUniversalIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="CH[0-9]{6,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CashAccount7">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification3Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tp" type="CashAccountType2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ccy" type="CurrencyCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nm" type="Max70Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountType2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="CashAccountType4Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CashAccountType4Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CASH" />
      <xs:enumeration value="CHAR" />
      <xs:enumeration value="COMM" />
      <xs:enumeration value="TAXE" />
      <xs:enumeration value="CISH" />
      <xs:enumeration value="TRAS" />
      <xs:enumeration value="SACC" />
      <xs:enumeration value="CACC" />
      <xs:enumeration value="SVGS" />
      <xs:enumeration value="ONDP" />
      <xs:enumeration value="MGLD" />
      <xs:enumeration value="NREX" />
      <xs:enumeration value="MOMA" />
      <xs:enumeration value="LOAN" />
      <xs:enumeration value="SLRY" />
      <xs:enumeration value="ODFT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ChargeBearerType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEBT" />
      <xs:enumeration value="CRED" />
      <xs:enumeration value="SHAR" />
      <xs:enumeration value="SLEV" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Cheque5">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ChqTp" type="ChequeType2Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChqNb" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChqFr" type="NameAndAddress3" />
      <xs:element minOccurs="0" maxOccurs="1" name="DlvryMtd" type="ChequeDeliveryMethod1Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="DlvrTo" type="NameAndAddress3" />
      <xs:element minOccurs="0" maxOccurs="1" name="InstrPrty" type="Priority2Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChqMtrtyDt" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="1" name="FrmsCd" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="MemoFld" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="RgnlClrZone" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrtLctn" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ChequeDelivery1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MLDB" />
      <xs:enumeration value="MLCD" />
      <xs:enumeration value="MLFA" />
      <xs:enumeration value="CRDB" />
      <xs:enumeration value="CRCD" />
      <xs:enumeration value="CRFA" />
      <xs:enumeration value="PUDB" />
      <xs:enumeration value="PUCD" />
      <xs:enumeration value="PUFA" />
      <xs:enumeration value="RGDB" />
      <xs:enumeration value="RGCD" />
      <xs:enumeration value="RGFA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ChequeDeliveryMethod1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ChequeDelivery1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ChequeType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CCHQ" />
      <xs:enumeration value="CCCH" />
      <xs:enumeration value="BCHQ" />
      <xs:enumeration value="DRFT" />
      <xs:enumeration value="ELDR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ClearingChannel2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RTGS" />
      <xs:enumeration value="RTNS" />
      <xs:enumeration value="MPNS" />
      <xs:enumeration value="BOOK" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClearingSystemMemberIdentification3Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Id" type="ExternalClearingSystemMemberCode" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditTransferTransactionInformation1">
    <xs:sequence>
      <xs:element name="PmtId" type="PaymentIdentification1" />
      <xs:element minOccurs="0" maxOccurs="1" name="PmtTpInf" type="PaymentTypeInformation1" />
      <xs:element name="Amt" type="AmountType2Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="XchgRateInf" type="ExchangeRateInformation1" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChrgBr" type="ChargeBearerType1Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChqInstr" type="Cheque5" />
      <xs:element minOccurs="0" maxOccurs="1" name="UltmtDbtr" type="PartyIdentification8" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification3" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntrmyAgt1Acct" type="CashAccount7" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification3" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntrmyAgt2Acct" type="CashAccount7" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification3" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntrmyAgt3Acct" type="CashAccount7" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification3" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtrAgtAcct" type="CashAccount7" />
      <xs:element minOccurs="0" maxOccurs="1" name="Cdtr" type="PartyIdentification8" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtrAcct" type="CashAccount7" />
      <xs:element minOccurs="0" maxOccurs="1" name="UltmtCdtr" type="PartyIdentification8" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstrForCdtrAgt" type="InstructionForCreditorAgent1" />
      <xs:element minOccurs="0" maxOccurs="1" name="InstrForDbtrAgt" type="Max140Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Purp" type="Purpose1Choice" />
      <xs:element minOccurs="0" maxOccurs="10" name="RgltryRptg" type="RegulatoryReporting2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tax" type="TaxInformation2" />
      <xs:element minOccurs="0" maxOccurs="10" name="RltdRmtInf" type="RemittanceLocation1" />
      <xs:element minOccurs="0" maxOccurs="1" name="RmtInf" type="RemittanceInformation1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceInformation1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CdtrRefTp" type="CreditorReferenceType1" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtrRef" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType3Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="Issr" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0" />
      <xs:fractionDigits value="5" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="CurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="CurrencyCode" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="CurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrvcOfBirth" type="Max35Text" />
      <xs:element name="CityOfBirth" type="Max35Text" />
      <xs:element name="CtryOfBirth" type="CountryCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DecimalNumber">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="17" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="pain.001.001.02" type="pain.001.001.02" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DocumentType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MSIN" />
      <xs:enumeration value="CNFA" />
      <xs:enumeration value="DNFA" />
      <xs:enumeration value="CINV" />
      <xs:enumeration value="CREN" />
      <xs:enumeration value="DEBN" />
      <xs:enumeration value="HIRI" />
      <xs:enumeration value="SBIN" />
      <xs:enumeration value="CMCN" />
      <xs:enumeration value="SOAC" />
      <xs:enumeration value="DISP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RADM" />
      <xs:enumeration value="RPIN" />
      <xs:enumeration value="FXDR" />
      <xs:enumeration value="DISP" />
      <xs:enumeration value="PUOR" />
      <xs:enumeration value="SCOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DunsIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EANGLNIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{13,13}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EquivalentAmount">
    <xs:sequence>
      <xs:element name="Amt" type="CurrencyAndAmount" />
      <xs:element name="CcyOfTrf" type="CurrencyCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExchangeRateInformation1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="XchgRate" type="BaseOneRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="RateTp" type="ExchangeRateType1Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="CtrctId" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExchangeRateType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SPOT" />
      <xs:enumeration value="SALE" />
      <xs:enumeration value="AGRD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemMemberCode">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrumentCode">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPurposeCode">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BIC" type="BICIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClrSysMmbId" type="ClearingSystemMemberIdentification3Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nm" type="Max70Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="PstlAdr" type="PostalAddress1" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrtryId" type="GenericIdentification3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification5Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="BIC" type="BICIdentifier" />
        <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification3Choice" />
        <xs:element name="NmAndAdr" type="NameAndAddress7" />
        <xs:element name="PrtryId" type="GenericIdentification3" />
        <xs:element name="CmbndId" type="FinancialInstitutionIdentification3" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification3">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Issr" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification4">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
      <xs:element name="IdTp" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader1">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text" />
      <xs:element name="CreDtTm" type="ISODateTime" />
      <xs:element minOccurs="0" maxOccurs="2" name="Authstn" type="Max128Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="BtchBookg" type="BatchBookingIndicator" />
      <xs:element name="NbOfTxs" type="Max15NumericText" />
      <xs:element minOccurs="0" maxOccurs="1" name="CtrlSum" type="DecimalNumber" />
      <xs:element name="Grpg" type="Grouping1Code" />
      <xs:element name="InitgPty" type="PartyIdentification8" />
      <xs:element minOccurs="0" maxOccurs="1" name="FwdgAgt" type="BranchAndFinancialInstitutionIdentification3" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Grouping1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SNGL" />
      <xs:enumeration value="GRPD" />
      <xs:enumeration value="MIXD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IBANIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IBEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[B-DF-HJ-NP-TV-XZ0-9]{7,7}[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="Instruction3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CHQB" />
      <xs:enumeration value="HOLD" />
      <xs:enumeration value="PHOB" />
      <xs:enumeration value="TELB" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InstructionForCreditorAgent1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Cd" type="Instruction3Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="InstrInf" type="Max140Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocalInstrument1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalLocalInstrumentCode" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max128Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="128" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="140" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max15NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max256Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="34" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max3Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NameAndAddress3">
    <xs:sequence>
      <xs:element name="Nm" type="Max70Text" />
      <xs:element name="Adr" type="PostalAddress1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameAndAddress7">
    <xs:sequence>
      <xs:element name="Nm" type="Max70Text" />
      <xs:element name="PstlAdr" type="PostalAddress1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BIC" type="BICIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="IBEI" type="IBEIIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="BEI" type="BEIIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="EANGLN" type="EANGLNIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="USCHU" type="CHIPSUniversalIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="DUNS" type="DunsIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="BkPtyId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxIdNb" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrtryId" type="GenericIdentification3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="OrganisationIdentification2" />
        <xs:element minOccurs="1" maxOccurs="4" name="PrvtId" type="PersonIdentification3" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification8">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Nm" type="Max70Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="PstlAdr" type="PostalAddress1" />
      <xs:element minOccurs="0" maxOccurs="1" name="Id" type="Party2Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="CtryOfRes" type="CountryCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentCategoryPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CORT" />
      <xs:enumeration value="SALA" />
      <xs:enumeration value="TREA" />
      <xs:enumeration value="CASH" />
      <xs:enumeration value="DIVI" />
      <xs:enumeration value="GOVT" />
      <xs:enumeration value="INTE" />
      <xs:enumeration value="LOAN" />
      <xs:enumeration value="PENS" />
      <xs:enumeration value="SECU" />
      <xs:enumeration value="SSBE" />
      <xs:enumeration value="SUPP" />
      <xs:enumeration value="TAXS" />
      <xs:enumeration value="TRAD" />
      <xs:enumeration value="VATX" />
      <xs:enumeration value="HEDG" />
      <xs:enumeration value="INTC" />
      <xs:enumeration value="WHLD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentIdentification1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InstrId" type="Max35Text" />
      <xs:element name="EndToEndId" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInstructionInformation1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PmtInfId" type="Max35Text" />
      <xs:element name="PmtMtd" type="PaymentMethod3Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="PmtTpInf" type="PaymentTypeInformation1" />
      <xs:element name="ReqdExctnDt" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="1" name="PoolgAdjstmntDt" type="ISODate" />
      <xs:element name="Dbtr" type="PartyIdentification8" />
      <xs:element name="DbtrAcct" type="CashAccount7" />
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification3" />
      <xs:element minOccurs="0" maxOccurs="1" name="DbtrAgtAcct" type="CashAccount7" />
      <xs:element minOccurs="0" maxOccurs="1" name="UltmtDbtr" type="PartyIdentification8" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChrgBr" type="ChargeBearerType1Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChrgsAcct" type="CashAccount7" />
      <xs:element minOccurs="0" maxOccurs="1" name="ChrgsAcctAgt" type="BranchAndFinancialInstitutionIdentification3" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="CdtTrfTxInf" type="CreditTransferTransactionInformation1" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentMethod3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CHK" />
      <xs:enumeration value="TRF" />
      <xs:enumeration value="TRA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentTypeInformation1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InstrPrty" type="Priority2Code" />
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="SvcLvl" type="ServiceLevel2Choice" />
        <xs:element minOccurs="0" maxOccurs="1" name="ClrChanl" type="ClearingChannel2Code" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="LclInstrm" type="LocalInstrument1Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="CtgyPurp" type="PaymentCategoryPurpose1Code" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PercentageRate">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="10" />
      <xs:totalDigits value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonIdentification3">
    <xs:sequence>
      <xs:choice>
        <xs:element name="DrvrsLicNb" type="Max35Text" />
        <xs:element name="CstmrNb" type="Max35Text" />
        <xs:element name="SclSctyNb" type="Max35Text" />
        <xs:element name="AlnRegnNb" type="Max35Text" />
        <xs:element name="PsptNb" type="Max35Text" />
        <xs:element name="TaxIdNb" type="Max35Text" />
        <xs:element name="IdntyCardNb" type="Max35Text" />
        <xs:element name="MplyrIdNb" type="Max35Text" />
        <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" />
        <xs:element name="OthrId" type="GenericIdentification4" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="Issr" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AdrTp" type="AddressType2Code" />
      <xs:element minOccurs="0" maxOccurs="5" name="AdrLine" type="Max70Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="StrtNm" type="Max70Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="BldgNb" type="Max16Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="PstCd" type="Max16Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="TwnNm" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="CtrySubDvsn" type="Max35Text" />
      <xs:element name="Ctry" type="CountryCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Priority2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HIGH" />
      <xs:enumeration value="NORM" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Purpose1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPurposeCode" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentAmount1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="DuePyblAmt" type="CurrencyAndAmount" />
        <xs:element name="DscntApldAmt" type="CurrencyAndAmount" />
        <xs:element name="RmtdAmt" type="CurrencyAndAmount" />
        <xs:element name="CdtNoteAmt" type="CurrencyAndAmount" />
        <xs:element name="TaxAmt" type="CurrencyAndAmount" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RfrdDocTp" type="ReferredDocumentType1" />
      <xs:element minOccurs="0" maxOccurs="1" name="RfrdDocNb" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType1">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType2Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="Issr" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegulatoryAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AuthrtyNm" type="Max70Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="AuthrtyCtry" type="CountryCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegulatoryReporting2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DbtCdtRptgInd" type="RegulatoryReportingType1Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="Authrty" type="RegulatoryAuthority" />
      <xs:element minOccurs="0" maxOccurs="1" name="RgltryDtls" type="StructuredRegulatoryReporting2" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RegulatoryReportingType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRED" />
      <xs:enumeration value="DEBT" />
      <xs:enumeration value="BOTH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RemittanceInformation1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ustrd" type="Max140Text" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Strd" type="StructuredRemittanceInformation6" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceLocation1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RmtId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="RmtLctnMtd" type="RemittanceLocationMethod1Code" />
      <xs:element minOccurs="0" maxOccurs="1" name="RmtLctnElctrncAdr" type="Max256Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="RmtLctnPstlAdr" type="NameAndAddress3" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RemittanceLocationMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FAXI" />
      <xs:enumeration value="EDIC" />
      <xs:enumeration value="URID" />
      <xs:enumeration value="EMAL" />
      <xs:enumeration value="POST" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ServiceLevel1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SEPA" />
      <xs:enumeration value="SDVA" />
      <xs:enumeration value="PRPT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceLevel2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ServiceLevel1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimpleIdentificationInformation2">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRegulatoryReporting2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Cd" type="Max3Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Amt" type="CurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="Inf" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation6">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RfrdDocInf" type="ReferredDocumentInformation1" />
      <xs:element minOccurs="0" maxOccurs="1" name="RfrdDocRltdDt" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RfrdDocAmt" type="ReferredDocumentAmount1Choice" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtrRefInf" type="CreditorReferenceInformation1" />
      <xs:element minOccurs="0" maxOccurs="1" name="Invcr" type="PartyIdentification8" />
      <xs:element minOccurs="0" maxOccurs="1" name="Invcee" type="PartyIdentification8" />
      <xs:element minOccurs="0" maxOccurs="1" name="AddtlRmtInf" type="Max140Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CertId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxTp" type="TaxType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxInformation2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CdtrTaxId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="CdtrTaxTp" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="DbtrTaxId" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxRefNb" type="Max140Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="TtlTaxblBaseAmt" type="CurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="TtlTaxAmt" type="CurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxDt" type="ISODate" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxTpInf" type="TaxDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CtgyDesc" type="Max35Text" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rate" type="PercentageRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxblBaseAmt" type="CurrencyAndAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="Amt" type="CurrencyAndAmount" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UPICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8,17}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="pain.001.001.02">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader1" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="PmtInf" type="PaymentInstructionInformation1" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>