Gizeh.Integrations.Banks/Connected Services/IngBankService/rpts6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:ca:std:ccs:ing:tech:xsd:rpts.013.001.01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ca:std:ccs:ing:tech:xsd:rpts.013.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="Document" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="GetMCRpt" type="GetMCReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetMCReport">
    <xs:sequence>
      <xs:element name="MsgId" type="MessageIdentification" />
      <xs:element name="RptMCQryDef" type="MCReportQueryDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageIdentification">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MCReportQueryDefinition">
    <xs:sequence>
      <xs:element name="RptMCCrit" type="MCReportCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MCReportCriteria">
    <xs:sequence>
      <xs:element name="NewCrit" type="NewCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewCriteria">
    <xs:sequence>
      <xs:element name="SchCrit" type="SearchCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchCriteria">
    <xs:sequence>
      <xs:element name="Cdtr" type="CreditorNumber" />
      <xs:element minOccurs="0" name="RptId" type="FileNumber" />
      <xs:element name="RptDt" type="ReportDate" />
      <xs:element minOccurs="0" name="RptFrmt" type="Const3CapitalText" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorNumber">
    <xs:sequence>
      <xs:element name="EQ" type="Max12DigitNumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max12DigitNumber">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FileNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="EQ" type="ISONumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISONumber">
    <xs:restriction base="xs:integer" />
  </xs:simpleType>
  <xs:simpleType name="Const3CapitalText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReportDate">
    <xs:sequence>
      <xs:element name="DtSch" type="DateDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateDetails">
    <xs:sequence>
      <xs:element name="Dt" type="ISODate" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
</xs:schema>