Gizeh.Integrations.Banks/Connected Services/IngBankService/trco.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:ca:std:cdc:tech:xsd:trco.001.001.01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ca:std:cdc:tech:xsd:trco.001.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="Document" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="GetTrnConf" type="GetTransferConfirmation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetTransferConfirmation">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GrpHdrType" />
      <xs:element name="TrnConf" type="TransferConfirmation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrpHdrType">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text" />
      <xs:element name="CreDtTm" type="ISODateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:complexType name="TransferConfirmation">
    <xs:sequence>
      <xs:choice>
        <xs:element name="TrnId" type="Max13Text" />
        <xs:element name="TrnRef" type="Max48Text" />
        <xs:element name="UsrRef" type="Max64Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max13Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="13" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max48Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="48" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max64Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>